
.label {
	-fx-font-size: 18px;
    -fx-font-weight: bold;
}

#title {
	-fx-font-size: 25px;
    -fx-font-weight: bold;
}

.InputBox {
	-fx-background-color: rgba(255, 255, 255, .3);
}

.menuBox {
    -fx-background-color: rgba(255, 255, 255, .3);
}

.icons {
    -fx-fill: black;
}

.grid {
    /*-fx-background-color: linear-gradient(#E4E5E6, #00416A);*/
    -fx-background-image:  url("white.jpg");
    -fx-background-position: center center;
}

.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-background-radius: 20px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}