
* {
	-fx-font-family: "Bodoni MT";
	-fx-font-weight: bold;
}

.root {
    -fx-background-image:  url("trees.jpg");
    -fx-background-position: center center;
}

#accountList {
	-fx-background-color: rgba(255, 255, 255, .7);
	-fx-font-size: 16;
}

.button {
    -fx-text-fill: white;
    -fx-font-size: 17px;
    -fx-background-radius: 20px;
    -fx-background-color: linear-gradient(#141E30, #243B55);
}

.table-view {
    -fx-background-color: rgba(255, 255, 255, .7);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab {
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-alignment: CENTER;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #0575E6;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-pref-width: 150.0;
    -fx-text-fill: -fx-text-base-color;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}